body {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.3;
}

#header, #footer {
	background-color: rgb(38,139,173);
}

#left, #right {
	background-color: rgb(247,247,255);
}

input {
	background-color: rgba(200,200,200,0.5);
	border: 0;
}

#usermgt {
	float: right;
	background-color: #a2d5e6;
	margin: -0.5em;
	padding: 0.5em;
}

div.overlay-loading {
	position: fixed;
	padding: 20% 0;
	left: 0; right: 0; bottom: 0; top: 0;
	background-color: rgba(255,255,255,0.75);
	font-size: 2em;
	text-align: center;
}

div.overlay-loading .animation {
	min-width: 10px;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	font-size: 1em;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: splash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 1s;
}


span.logo-q {
	color: #666;
}

span.logo-consense {
	color: #C55;
	letter-spacing: 0.1em;
}

div.ka, div.qk-none {
	padding: 0.25em 0 0.25em 1em;
	margin: 0.25em 0;
}

div.cmt {
	padding: 0.2em 0.5em 0.2em 0.5em;
	margin: 0.2em 0;
	background-color: rgba(200,200,200,0.2);
}

div.cmt .author {
	font-style: italic;
	font-size: 0.7em;
}

div.cmt .author:before {
	font-style: italic;
	font-size: 0.7em;
	content: "--"
}

div.cxt {
	padding: 0.2em 0.5em;
	margin: 0.2em 0;
}

div.cmt {
	font-size: 0.9em;
}

div.cxt {
	font-size: 0.8em;
}

div.ka div.ka, div.ka div.kk {
	display: none;
}

div.ka {
	/*border: 1px solid rgb(38,139,173);
	border-top: none;*/
	 -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1); /* WebKit */
-moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1); /* Firefox */
box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1); /* Standard */ 
}

#page h2, #page h1 {
	padding: 0.1em 0.5em;
	margin: 0em -0.5em;
	margin-top: 0.3em;
	
	font-size: 1.2em;
}

#page h3 {
	padding: 0.1em 0.3em;
	margin: 0.5em -0.5em;
}

div.kk>h1, div.qk-none>h1 {
	font-size: 1.3em;
	border: none;
	letter-spacing: 0em;
	color: rgba(0,0,0,0.8);
	border-bottom: 4px solid rgba(200,200,200,0.25);
}

div.ka>.controls {
	/*background-color: rgba(200,200,200,0.25);
	background-color: rgb(247,247,255);*/
	padding: 0.5em 0.5em;
	/*border-bottom: 1px solid rgba(38,139,173, 0.5);*/
}

div.kk div.ka h1, div.kk div.kk h1, div.kk div.qk-none h1 {
	font-size: 1.2em;
}

div.kk div.kk div.ka h1, div.kk div.kk div.kk h1, div.kk div.kk div.qk-none h1 {
	font-size: 1.1em;
}

.control {
	display: inline-block;
	padding: 0.1em 0.2em;
	/*background-color: rgba(100,100,100,0.1);*/
}

.select {
	padding: 0.1em 0.2em;
	display: inline-block;
	font-size: 0.8em;
	/*background-color: rgba(100,100,100,0.1);*/
}

.select input[type=radio] {
	display: none;
}

.select input[type=radio] + label {
	font-family: Lucida Console;
	font-size: 0.8em;
	cursor: pointer;
	color: black;
	
	padding: 0.5em;
}

.select input[type=radio]:checked + label {
	cursor: default;
	color: blue;
	background-color: rgba(150,150,150,0.2);
}

.select input[type=radio]:not(:checked) + label:hover {
	background-color: rgba(155,155,155,0.25);
}

.check:checked + label:before {
	content: "\2714";
}

.check:not(:checked) + label:before {
	/*content: "\2718";*/
}

.check + label {
	display: inline-block;
	padding: 0.1em 0.2em;
	background-color: rgba(100,100,100,0.1);
	color: rgba(0,0,0,1);
	font-size: 12px;
	font-style: italic;
}

.check {
	display: none;
}

p {
	margin: 0.5em 0;
}

h1, h2, h3 {
	/*margin-top: 0.5em;
	margin-bottom: 0.5em;

	font-size: 1.5em;
	font-family: Segoe UI, Verdana, Arial, sans-serif;
	letter-spacing: 0.1em;
	
	border-bottom: 1px solid #04698b;*/
	color: rgba(0,0,0,0.8);
}

h1 {
	font-size: 1.3em;
	padding: 0.5em 0 0.25em 0;
	/*padding: 1em 0 0.25em 0;*/
}

h2 {
	font-size: 1.2em;
	padding: 0.8em 0 0.2em 0;
	margin: 0 0 0.4em 0;
}

h3 {
	font-size: 1.1em;
	padding: 0.6em 0 0.15em 0;
	margin: 0 0 0.3em 0;
}

i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

a {
	color: rgba(0,0,0,0.75);
	text-decoration: underline;
}

a.control, a.tabitem {
	text-decoration: none;
}

textarea, input, button {
	border: 1px solid rgba(200,200,200,0.5);
}

textarea, input[type=text].block {
	margin: 0 0;
	background-color: rgba(255,255,255, 0.5);
	display: block;
	width: 100%;
	resize: vertical;
	font-family: inherit;
	font-size: 1em;
}

textarea:active {
	height: auto;
}

input[type=submit], button {
	background-color: rgba(255, 255, 255, 0.5);
	margin-right: 0.1em;
}

.win#left ul, .win#right ul {
	/*list-style-type: none;*/
	padding-left: 1em;
}

a:hover {
	text-decoration: underline;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.invisible {
	display: none;
}

.symbol {
	color: #777777;
	padding: 0.1em;
	margin: 0.1em;
}

.symbol:hover {
	text-decoration: none;
	color: #000000;
}

.control {
	color: rgba(0,0,0,1);
	font-size: 12px;
	font-style: italic;
}

.count {
	vertical-align: super;
}

@-moz-keyframes splash {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}