<!-- ko with: navigation -->
<h1>Themen</h1>
<section>
	<ul data-bind="foreach: breadcrumb">
		<li class="clickable" data-bind="text: caption, click: click"></li>
	</ul>
<!-- ko with: selected -->
	<b data-bind="text: caption"></b>
	<p data-bind="text: description"></p>
<!-- /ko -->
	
	<ul data-bind="foreach: children">
		<li class="clickable" data-bind="text: caption, click: click"></li>
	</ul>
<h1>Konsenskisten zum Thema:</h1>
<div>
		<ul data-bind="">
			<!-- ko if: kokis().length -->
			<!-- ko foreach: kokis -->
				<li class="clickable" data-bind="text: caption, click: click"></li>
			<!-- /ko -->
			<!-- /ko -->
			
			<!-- ko if: $root.isAdmin -->
			<li>
				<a data-bind="click: clickCreateNewKoki">Neu</a>
			</li>
			<!-- /ko -->
		</ul>
	</div>
</div>
</section>
<!-- /ko -->