<!-- ko with: navigation -->
<h1>Themen</h1>
	<ul data-bind="foreach: breadcrumb">
		<li class="clickable" data-bind="text: caption, click: click.raise.bind(click)"></li>
	</ul>
<!-- ko with: selected -->
	<b data-bind="text: caption"></b>
	<p data-bind="text: description"></p>
<!-- /ko -->
	
	<ul data-bind="foreach: children">
		<li class="clickable" data-bind="text: caption, click: click.raise.bind(click)"></li>
	</ul>
<!--h1>Konsenskisten zum Thema</h1>
<div>
		<ul data-bind="">
			<!-- ko foreach: kks ->
				<li class="clickable" data-bind="text: caption, click: click"></li>
			<!-- /ko ->
			<li data-bind="if: true || $root.isAdmin">
				<a data-bind="click: newKk.onClick">Neu</a>
			</li>
		</ul>
	</div>
</div-->
<!-- /ko -->