<h1>
	<span data-bind="template: { name: 'historybar-template' }"></span>
	Diskussion
</h1>
<h2 data-bind="text: discussable().general().title"></h2>
<p data-bind="text: discussable().general().text"></p>
<!-- ko if: discussable().discussion().error -->
	<p data-bind="text: discussable().discussion.error"></p>
<!-- /ko -->
<!-- ko if: !discussable().discussion().error() -->
	<!-- ko if: discussable().discussion().commentsLoading() -->
		Laden...
	<!-- /ko -->
	<!-- ko foreach: discussable().discussion().comments -->
		<div data-bind="template: { name: 'comment-template' }"></div>
	<!-- /ko -->
	
	<!--div class="cmt">
		<form data-bind="event: { submit: function() { submitComment_onClick(); return false; } }">
			<p><textarea maxlength="250" placeholder="Dein Beitrag" data-bind="value: newCommentText, attr: { disabled: newCommentDisabled }"></textarea></p>
			<input type="submit" value="Beitrag abschicken" data-bind="attr: { disabled: newCommentDisabled }" />
		</form>
	</div-->
<!-- /ko -->