<h1>Einführende Begriffe</h1>
<p>
	Nachfolgend werden die Grundbegriffe kurz erläutert, die für das Verständnis dieser PoC-Version Voraussetzung sind.
</p>
<p>
	Unter "<u>obligat</u>" wird aufgeführt, was zur qKonsens-Basisversion gehört. Nach "<u>optional</u>" wird angedeutet, 
	was darüber hinaus für die qKonsens-Vollversion vorgesehen ist.
</p>
<h2 id="konsenskiste">Konsenskiste</h2>
<p>Sammlung von <a href="#kernaussage">Kernaussagen</a>, die ein abgegrenztes ->Thema (=Kopfzeile) repräsentieren.</p>
<p>
	Zu jeder Kernaussage erscheint die <a href="#bewertung">Bewertung</a> der Teilnehmer.
	So stellt die Konsenskiste Konsens und Dissens als ganzheitlichen Standpunkt der Teilnehmer zum jeweiligen Thema dar.
</p>
<p><u>obligat</u>: Konsenskiste=Station in einem mehrphasigen Willensbildungsprozess.</p> 
<h2 id="dokumentansicht">Dokumentansicht</h2>
<p>
	Hier erscheint der jeweils aktuelle Stand des Ergebnis-Dokumentes.
	Grundgedanke ist, dass ein (schon möglichst qualifizierter) Entwurf, angetrieben durch <a href="#bewertung">Bewertung</a> und <a href="#diskussion">Diskussion</a> der Teilnehmer,
	von Moderatoren zu einem politisch wirksamen Dokument ausgeformt wird.
</p>
<p><u>optional</u>: Anzeige der <a href="#klaertext">Klärtexte</a>; Ausfiltern aller KA mit geringer Zustimmung; Anzeige der Stimmenzahlen.</p>
<h2 id="moderatorenmodus">Moderatorenmodus</h2>
<p>
	Der Moderator  kann (und soll!) verantwortungsbewusst Kernaussagen bearbeiten und Diskussionsbeiträge löschen. 
	Momentan kann sich noch jeder User als Moderator betätigen - bitte davon nur konstruktiv-wohlüberlegt Gebrauch machen!
</p>
<h2 id="kernaussage">Kernaussage</h2>
<p>
	Jede Kernaussage soll so klar formuliert sein, dass jeder Teilnehmer seine Meinung dazu in Bewertung und Diskussion eindeutig ausdrücken kann. 
	Dargestellt wird jede Kernaussage mit Titel, Text und <a href="#funktionsleiste">Funktionsleiste</a>.
</p>
<p><u>optional</u>: Verlinkung von KA; Markierung der Kernaussagen nach Wichtigkeit, Warnungen ua.</p>
<h2 id="funktionsleiste">Funktionsleiste</h2>
<p>
	Die Funktionsleiste dient nebenbei als optische Trennung der Kernaussagen.
	Hauptzweck ist, dass jegliche Funktionalität für den elementaren Willensbildungsprozess unmittelbar an jeder Kernaussage verfügbar ist.
	In der PoC-Version sind die Funktionalitäten 
	<a href="#klaertext">Klärtext</a>, <a href="#bewertung">Bewertung</a>, <a href="#diskussion">Diskussion</a> verfügbar.
	Die unmittelbare Verbindung von Bewertung und Diskussion ist Grundprinzip des qKonsens!
</p>
<p><u>obligat</u>: Autorenkommentar, History, Unter-KoKi</p>
<h2 id="klaertext">Klärtext </h2>
<p>
	Knackig formulierte Kernaussagen bergen das Risiko, missverstanden zu werden - weil viele Begriffe mehrdeutig verwendet werden.
	Die Klärtexte(früher "Kontexte") sollen Fehlinterpretationen zu vermeiden helfen - auch im Ergebnisdokument.
</p>
<h2 id="bewertung">Bewertung </h2>
<p>
	Jeder Teilnehmer kann jede Kernaussage bewerten: "++" volle Zustimmung, "+" bedingte Zustimmung, "0" neutral, "-" bedingte Ablehnung, 
	"-- " totale Ablehnung. Das "?" bedeutet "Gelesen, aber (noch) nicht bewertet."
	(es wird noch überlegt, ob der Unterschied zu "0" signifikant ist!)
	Die Zähler der bisher abgegebenen Stimmen werden angezeigt.
</p>
<p><u>obligat</u>: Recht auf Abgabe und Anzeige der Zähler wird per User-Mgt geregelt.</p>
<h2 id="diskussion">Diskussion </h2>
<p>
	Jeder Teilnehmer kann zu jeder Kernaussage Diskussionsbeiträge posten.
	D.h., mehrere unterschiedliche Ideen sollten in jeweils einem eigenen Diskussionbeitrag gepostet werden.
</p>
<p>qKnsens optional: differenzierte Adressierung und Verlinkung der Diskussionsbeiträge.</p>