<h1>Disclaimer</h1>
<p>
Dies ist nicht der fertige qKonsens! Es handelt sich lediglich um eine sogenannte "Proof-of-Concept"-Version.
Es geht uns darum, die grundlegende Funktionsweise des qKonsens darzustellen und es ist gut möglich, dass noch einige Komfort-Funktionen fehlen.
Diverse Browser (*hust* IE *hust*) sind noch nicht unterstützt.
</p>
<p>Danke für euer Verständnis und eure Geduld!</p>
<p>
Außerdem ist es wichtig zu beachten, dass die hier verwendeten Testdaten <b>nicht</b> zur Meinungsbildung gedacht sind,
sondern lediglich dazu, das Konzept zu veranschaulichen. Daher stellen sie auch nicht die Meinung der Autoren dar.
</p>
		
<h1>Von wem stammt dieser Prototyp?</h1>
<p>
	Von der AG Meinungsfindungstool, die Diskussionen und Diskussionsplattformen im Internet verbessern und optimieren will.
	Obwohl wir offiziell eine Arbeisgemeinschaft der Piratenpartei sind, sind viele AG-Mitglieder vond der Piratenpartei
	unabhängig und damit auch die AG. Wenn du mithelfen willst, dann schau doch mal <a href="http://wiki.piratenpartei.de/AG_Meinungsfindungstool">hier</a> vorbei!
</p>