<div class="ka">
	<a class="clickable symbol" data-bind="click: editClick" style="float: right">bearbeiten</a>
	<!-- ko template: { name: 'content-template', data: general } --><!-- /ko -->
	
	<!-- ko template: { name: 'context-template', data: context } --><!-- /ko -->
	
	<div class="controls">
		<!-- ko template: { name: 'rating-template', data: rating } --><!-- /ko -->
		<a class="clickable" data-bind="click: discussion().discussionClick">Diskussion</a>
		<a class="clickable" data-bind="click: environs().environsClick">Umfeld</a>
	</div>
</div>