<div class="kk">
	<!-- ko template: { name: 'querystate-template', data: queryState } --><!-- /ko -->
	<!-- ko if: !queryState().error() && !queryState().loading() -->
		<a class="clickable symbol" data-bind="click: editClick" style="float: right">bearbeiten</a>
		<!-- ko template: { name: 'content-template', data: general } --><!-- /ko -->
		
		<!-- ko template: { name: 'context-template', data: context } --><!-- /ko -->
		
		<div class="controls">
			<!-- ko template: { name: 'rating-template', data: rating } --><!-- /ko -->
			<a class="clickable" data-bind="click: discussion().discussionClick">Diskussion</a>
			<a class="clickable" data-bind="click: environs().environsClick">Umfeld</a>
		</div>
		
		<!-- ko foreach: childKas -->
			<!-- ko template: { name: 'ka-template' } --><!-- /ko -->
		<!-- /ko -->
		<!-- ko if: $root.isAdmin -->
			<a class="clickable control" data-bind="click: newKaClick">+Kernaussage</a>
		<!-- /ko -->
		<!-- ko if: newKaFormVisible -->
		<div class="ka">
			<p class="title"><input placeholder="Titel" type="text" class="block titleInput" data-bind="value: newKaTitle" /></p>
			<p class="text"><textarea placeholder="Text" class="textInput" data-bind="value: newKaText" ></textarea></p>
			<p class="context"><textarea placeholder="Klärtext" class="textInput" data-bind="value: newKaContext"></textarea></p>
			<button data-bind="click: newKaSubmit">Anfügen</button>
		</div>
		<!-- /ko -->
	<!-- /ko -->
</div>