<div id="header">
	<span class="logo-q">q</span><span class="logo-consense">Konsens</span> <i>Proof-of-Concept</i>
</div>
<div id="main">
	<div       class="win" id="center" data-bind="with: center">
	<!-- ko with: win --><!-- ko template: { name: viewTemplate } -->
	<!-- /ko --><!-- /ko -->
	</div><div class="win" id="left"   data-bind="with: left">
	<!-- ko with: win --><!-- ko template: { name: viewTemplate } -->
	<!-- /ko --><!-- /ko -->
	</div><div class="win" id="right"  data-bind="with: right">
	<!-- ko with: win --><!-- ko template: { name: viewTemplate } -->
	<!-- /ko --><!-- /ko -->
	</div>
</div>
<div id="footer">
	by <a href="//wiki.piratenpartei.de/AG_Meinungsfindungstool">AG Meinungsfindungstool</a>
</div>